* {
	font-size: 18px;
}

ul {
	list-style: none;
}
.task-checkbox {
    display: inline-block;
    float: left;
    width: 25px;
}

.task {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.task-text {
    display: block;
    margin-left: 30px;
}

.tasks-list {
    padding-left: 0;
}

.task-text-input {
    display: block;
    width: 80%;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 0;
}

.task-text-input:focus {
   outline: 0;
}

.add-task-icon {
    display: inline-block;
    float: left;
    line-height: 65px;
    color: lightgrey;
    font-weight: 100;
}

.add-task-icon.active {
    color: black;
}

.container {
    margin-top: 50px;
}

.add-task-section {
     border-top: 1px solid gray;
}
